.my-custom-theme .ag-root-wrapper {
    background-color: #1a1a1a; /* cinema.dark */
    color: #D3D3D3; /* cinema.gray */
}

.my-custom-theme .ag-header {
    background-color: #b71c1c; /* cinema.red */
    color: #ffcc00; /* cinema.gold */
}

.my-custom-theme .ag-row:nth-child(odd) {
    background-color: #121212; /* cinema.dark */
    color: #D3D3D3; /* cinema.gray for better contrast */
}

.my-custom-theme .ag-row:nth-child(even) {
    background-color: #121212; /* Slightly darker shade of cinema.dark */
    color: #D3D3D3; /* cinema.gray for better contrast */
}

.my-custom-theme .ag-header-cell-resize {
    background-color: #b71c1c; /* cinema.red */
}

/* Ensure text in selected rows is visible */
.my-custom-theme .ag-row-hover, 
.my-custom-theme .ag-row-selected {
    background-color: #333333; /* Slightly lighter shade for hover/selected rows */
    color: #ffffff; /* White text for better visibility */
}

.my-custom-theme .ag-root ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  .my-custom-theme .ag-root ::-webkit-scrollbar-thumb {
    background-color: #D3D3D3;
  }
  
  .my-custom-theme .ag-root ::-webkit-scrollbar-thumb:hover {
    background-color: #ffcc00;
  }
  
  .my-custom-theme .ag-root ::-webkit-scrollbar-track {
    background-color: #2a2a2a;
  }